<div style="background-color:white;">
  <div>
    <nz-alert [nzType]="isFinished() ? 'success' : 'warning'" nzShowIcon>
      <div nz-row alert-body>
        <div nz-col [nzMd]="8" [nzXs]="16" [nzSm]="16">
          <span>单号:</span>
          <span>{{order.id}}</span>
        </div>
        <div nz-col [nzMd]="4" [nzXs]="8" [nzSm]="8">
          <span>数量:</span>
          <span>{{values.length}}</span>
        </div>
      </div>
    </nz-alert>
  </div>
  <div nz-row [nzGutter]="3" style="padding-top:7px;">
    <div nz-col [nzSpan]="12">
      <nz-input style="width:100%;" [(ngModel)]="order.seller" (ngModelChange)="orderChange()">
        <ng-template #addOnBefore>
          <span>姓名:</span>
        </ng-template>
      </nz-input>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-input style="width:100%;" [(ngModel)]="order.phone" (ngModelChange)="orderChange()">
        <ng-template #addOnBefore>
          <span>手机号:</span>
        </ng-template>
      </nz-input>
    </div>
  </div>
  <div style="padding-top:13px;">
    <nz-table #nzTable [nzSize]="'small'" [nzDataSource]="values" [nzIsPagination]="false">
      <thead nz-thead>
        <tr>
          <th nz-th style="padding:5px;">
            <span>序号</span>
          </th>
          <th nz-th style="padding:5px;">
            <span>重量</span>
          </th>
          <th nz-th style="padding:5px;width:68px;">
            <span>状态</span>
          </th>
          <th nz-th style="padding:5px;">
            <span>移除</span>
          </th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of nzTable.data; let i = index">
          <td nz-td style="padding:2px;width:50px;">
            <span>{{i+1}}</span>
          </td>
          <td nz-td style="padding:2px;">
            <nz-input style="width:100%;" [(ngModel)]="item.value" (ngModelChange)="modelChange(item, i)" (nzBlur)="doUpload(item, i)">
              <ng-template #addOnAfter>
                <span>斤</span>
              </ng-template>
            </nz-input>
          </td>
          <td nz-td style="padding:2px;">
            <span>上传完成</span>
          </td>
          <td nz-td style="padding:2px 8px;">
            <i class="anticon anticon-close click-icon" (click)="remove(i)"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-row style="padding-top:13px;">
    <div nz-col [nzSpan]="24">
      <button nz-button [nzType]="'primary'" (click)="doCommit()">
        <span>提交结算</span>
      </button>
    </div>
  </div>
</div>