<div style="background-color:white;">
  <div nz-row [nzGutter]="3" style="padding-top:7px;">
    <div nz-col [nzSpan]="4">
      <nz-input style="width:100%;" [(ngModel)]="search.seller">
        <ng-template #addOnBefore>
          <span>姓名:</span>
        </ng-template>
      </nz-input>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-input style="width:100%;" [(ngModel)]="search.phone">
        <ng-template #addOnBefore>
          <span>手机号:</span>
        </ng-template>
      </nz-input>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-select style="width: 100%;" nzAllowClear [nzPlaceHolder]="'选择单子状态'" [(ngModel)]="search.status" nzShowSearch>
        <nz-option *ngFor="let option of statusOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="4">
      <button nz-button [nzType]="'primary'" (click)="load()">
        <span>搜索</span>
      </button>
    </div>
  </div>
  <div style="padding-top:13px;">
    <nz-table #nzTable [nzSize]="'small'" [nzDataSource]="list" [nzIsPagination]="false">
      <thead nz-thead>
        <tr>
          <th nz-th style="padding:5px;">
            <span>序号</span>
          </th>
          <th nz-th style="padding:5px;">
            <span>重量</span>
          </th>
          <th nz-th style="padding:5px;width:68px;">
            <span>状态</span>
          </th>
          <th nz-th style="padding:5px;">
            <span>移除</span>
          </th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of nzTable.data; let i = index">
          <td nz-td style="padding:2px;width:50px;">
            <span>{{i+1}}</span>
          </td>
          <td nz-td style="padding:2px;">
          </td>
          <td nz-td style="padding:2px;">
            <span>上传完成</span>
          </td>
          <td nz-td style="padding:2px 8px;">
            <i class="anticon anticon-close click-icon" (click)="remove(i)"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div>
    <div *ngIf="list && list.length > 0" style="margin-top:15px;margin-bottom:15px;padding-left:15px;">
      <nz-pagination [(nzPageIndex)]="current" [nzTotal]="total" [nzSize]="'small'" nzShowTotal (nzPageIndexChange)="load()"></nz-pagination>
    </div>
  </div>
</div>