<div class="border">
  <div nz-row>
    <span style="font-weight:bold;padding:5px;">
      <span>结算控制面板</span>
      <span style="padding-left:5px;color:lightgray;">
        <i class="anticon anticon-clock-circle-o"></i>
        <span>{{currentDate}}</span>
      </span>
    </span>
  </div>
  <div nz-row [nzGutter]="3" style="padding-bottom:3px;">
    <div nz-col [nzMd]="14" [nzXs]="14" [nzSm]="14">
      <nz-datepicker [nzAllowClear]="false" [nzDisabled]="readonly || priceEditable" style="width:100%;"
        [(ngModel)]="_date" (ngModelChange)="dateChange()" [nzPlaceHolder]="'选择要使用的日期的价格'"></nz-datepicker>
    </div>
    <div *ngIf="!hasPrice() && !priceEditable; else elseBtn" nz-col [nzMd]="10" [nzXs]="10" [nzSm]="10">
      <button style="color:black;width:100%;" nz-button [nzType]="'default'" [nzSize]="'default'" (click)="doCraete()">
        <i class="anticon anticon-plus-square-o"></i>
        <span style="margin:0px;">创建</span>
      </button>
    </div>
    <ng-template #elseBtn>
      <div *ngIf="!readonly" nz-col [nzMd]="10" [nzXs]="10" [nzSm]="10">
        <div nz-row [nzGutter]="2">
          <button *ngIf="!priceEditable" style="color:black;" nz-button [nzType]="'default'" [nzSize]="'default'"
            (click)="doEdit()">
            <i class="anticon anticon-plus-square-o"></i>
            <span style="margin:0px;">更改价格配置</span>
          </button>
          <button *ngIf="priceEditable" style="color:black;" nz-button [nzType]="'default'" [nzSize]="'default'"
            (click)="doAddPrice()">
            <i class="anticon anticon-plus-square-o"></i>
            <span style="margin:0px;">加点</span>
          </button>
          <button *ngIf="priceEditable" style="color:green;" nz-button [nzType]="'default'" [nzSize]="'default'"
            (click)="doSave()">
            <i class="anticon anticon-save"></i>
            <span style="margin:0px;">保存</span>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
  <div *ngIf="!hasPrice() && !priceEditable && !readonly; else elseTable" nz-row>
    <p style="padding:3px;font-size:large;">
      <span>该日无定价,去</span>
      <a href="javascript:void(0);" (click)="doCraete()">创建</a>
    </p>
  </div>
  <ng-template #elseTable>
    <div nz-row>
      <nz-input-group [nzAddOnBefore]="addOnBefore" [nzAddOnAfter]="addOnAfter">
        <input nz-input style="width:100%;padding-bottom:2px;" [readonly]="readonly || !priceEditable"
          [(ngModel)]="priceExtra.weightAdjust">
        <ng-template #addOnBefore>
          <span>重量调整</span>
        </ng-template>
        <ng-template #addOnAfter>
          <span>斤</span>
        </ng-template>
      </nz-input-group>
    </div>
    <div nz-row>
      <nz-table #nzTable [nzShowPagination]="false" [nzSize]="'small'" [nzData]="prices">
        <thead nz-thead>
          <tr>
            <th nz-th style="padding:5px;">
              <span>区间点</span>
            </th>
            <th nz-th style="padding:5px;">
              <span>价格</span>
            </th>
            <th *ngIf="!readonly && priceEditable" nz-th style="padding:5px;width:48px;">
              <span>移除</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let item of nzTable.data; let i = index">
            <td nz-td style="padding:2px;">
              <nz-input-group [nzAddOnAfter]="addOnAfter">
                <input nz-input [readonly]="readonly || !priceEditable" nz-tooltip style="width:100%;"
                  [(ngModel)]="item.weight">
                <ng-template #addOnAfter>
                  <span>斤</span>
                </ng-template>
              </nz-input-group>
            </td>
            <td nz-td style="padding:2px;">
              <nz-input-group [nzAddOnAfter]="addOnAfter">
                <input nz-input [readonly]="readonly || !priceEditable" nz-tooltip style="width:100%;"
                  [(ngModel)]="item.price">
                <ng-template #addOnAfter>
                  <span>元</span>
                </ng-template>
              </nz-input-group>
            </td>
            <td *ngIf="!readonly && priceEditable" nz-td style="padding:2px 8px;">
              <button style="color:coral;" nz-button [nzType]="'dashed'" [nzSize]="'small'" [nzShape]="'circle'"
                (click)="remove(item, i)">
                <i class="anticon anticon-delete"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngIf="hasPrice() && !priceEditable" nz-row style="padding:3px;">
      <div *ngIf="!readonly" nz-col [nzSpan]="24">
        <button style="width:100%;" nz-button [nzType]="'primary'" [nzSize]="'default'" (click)="doCalc()">
          <i class="anticon anticon-calculator"></i>
          <span style="margin:0px;">计算</span>
        </button>
      </div>
      <div *ngIf="missed.length > 0" nz-col [nzSpan]="24" style="margin-top:3px;">
        <nz-alert [nzType]="'warning'" nzShowIcon>
          <div alert-body>
            <span>重量 </span>
            <span style="color:brown;">{{missedWeights}}</span>
            <span> 没有价格</span>
          </div>
        </nz-alert>
      </div>
    </div>
  </ng-template>
</div>
