<div>
  <nz-layout style="height:100%;background:white;">
    <nz-header style="height:48px;padding:0px;">
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 48px;">
        <li nz-menu-item style="height:47px;" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/home">首页</a>
        </li>
        <li nz-menu-item style="height:47px;" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/user-order-list">户单</a>
        </li>
        <li nz-menu-item style="height:47px;" routerLinkActive="ant-menu-item-selected">
          <a routerLink="/car-order-list">车单</a>
        </li>
        <li style="height:47px;">
          <button style="margin-left:16px;" nz-button [nzType]="'dashed'" nzSize="small" nzGhost (click)="newOrder()">
            <span>新建户单</span>
          </button>
          <button nz-button [nzType]="'dashed'" nzSize="small" nzGhost (click)="newCar()">
            <span>新建车单</span>
          </button>
        </li>
      </ul>
    </nz-header>
    <nz-content style="padding:10px 15px;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</div>