<div style="background-color:white;">
  <div>
    <nz-alert [nzType]="isFinished() ? 'success' : 'warning'" nzShowIcon>
      <div alert-body>
        <div nz-row>
          <div nz-col [nzMd]="4" [nzXs]="8" [nzSm]="8">
            <span>户单号: </span>
            <span style="font-weight:bold;color:black;">{{order.id}}</span>
          </div>
          <div nz-col [nzMd]="4" [nzXs]="8" [nzSm]="8">
            <span>数量: </span>
            <span style="font-weight:bold;color:black;">{{bill.totalCount}}</span>
          </div>
          <div *ngIf="order.createdAt" nz-col [nzMd]="4" [nzXs]="24" [nzSm]="24">
            <span>创建时间: </span>
            <span style="font-weight:bold;color:black;">{{order.createdAt}}</span>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzMd]="4" [nzXs]="12" [nzSm]="12">
            <span>总重量: </span>
            <span style="font-weight:bold;color:black;">{{bill.totalWeight}}</span>
          </div>
          <div nz-col [nzMd]="4" [nzXs]="12" [nzSm]="12">
            <span>平均重量: </span>
            <span style="font-weight:bold;color:black;">{{bill.meanWeight}}</span>
          </div>
          <div nz-col [nzMd]="4" [nzXs]="12" [nzSm]="12">
            <span>总价: </span>
            <span style="font-weight:bold;color:black;">{{bill.totalPrice}}</span>
          </div>
          <div nz-col [nzMd]="4" [nzXs]="12" [nzSm]="12">
            <span>平均价格: </span>
            <span style="font-weight:bold;color:black;">{{bill.meanPrice}}</span>
          </div>
        </div>
      </div>
    </nz-alert>
  </div>
  <div nz-row [nzGutter]="3" style="padding-top:7px;">
    <div nz-col [nzMd]="8" [nzXs]="12" [nzSm]="12">
      <nz-input style="width:100%;" [nzReadonly]="readonly" [(ngModel)]="order.seller">
        <ng-template #addOnBefore>
          <span>姓名:</span>
        </ng-template>
      </nz-input>
    </div>
    <div nz-col [nzMd]="8" [nzXs]="12" [nzSm]="12">
      <nz-input style="width:100%;" [nzReadonly]="readonly" [(ngModel)]="order.phone">
        <ng-template #addOnBefore>
          <span>手机号:</span>
        </ng-template>
      </nz-input>
    </div>
    <div nz-col [nzMd]="8" [nzXs]="24" [nzSm]="24">
      <nz-input style="width:100%;" [nzReadonly]="true" [ngModel]="descCar(defaultCar)" [nzPlaceHolder]="'选择默认车次'">
        <ng-template #addOnBefore>
          <span (click)="$event.stopPropagation()">车次:</span>
        </ng-template>
        <ng-template *ngIf="!readonly" #addOnAfter>
          <div class="car-select" (click)="selectCar()">
            <i class="anticon anticon-select"></i>
            <span>更换</span>
          </div>
        </ng-template>
      </nz-input>
    </div>
    <div nz-col [nzSpan]="24" style="padding-top:3px;">
      <nz-input style="width:100%;" [nzReadonly]="readonly" [(ngModel)]="order.remark">
        <ng-template #addOnBefore>
          <span>备注:</span>
        </ng-template>
      </nz-input>
    </div>
  </div>
  <div style="padding-top:10px;">
    <div nz-row [nzGutter]="3" style="display:flex;flex-wrap:wrap-reverse;">
      <div style="padding-top:3px;" nz-col [nzMd]="16" [nzXs]="24" [nzSm]="24">
        <nz-table #nzTable [nzSize]="'small'" [nzDataSource]="bill.items" [(nzPageSize)]="tablePageSize" [(nzPageIndex)]="tablePageIndex"
          nzShowTotal nzShowSizeChanger [nzIsPageIndexReset]="false" [nzPageSizeSelectorValues]="pageSizeSelectorValues">
          <thead nz-thead>
            <tr>
              <th nz-th style="padding:5px;">
                <span>序号</span>
              </th>
              <th nz-th style="padding:5px;">
                <span>重量</span>
              </th>
              <th nz-th style="padding:5px;">
                <span>价格</span>
              </th>
              <th nz-th style="padding:5px;width:48px;">
                <span>车次</span>
              </th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let item of nzTable.data; let i = index">
              <td nz-td style="padding:2px;padding-right:6px;width:50px;">
                <span>{{itemIndex(i)+1}}</span>
              </td>
              <td nz-td style="padding:2px;">
                <nz-input [nzReadonly]="readonly" nz-tooltip style="width:100%;" [(ngModel)]="item.weight">
                  <ng-template #addOnAfter>
                    <span>斤</span>
                  </ng-template>
                </nz-input>
              </td>
              <td nz-td>
                <div *ngIf="item.price" style="color:darkgreen;">
                  <i class="anticon anticon-pay-circle-o"></i>
                  <span>{{item.price}}</span>
                </div>
                <div *ngIf="!item.price" style="color:red;">
                  <i class="anticon anticon-pay-circle-o"></i>
                  <span>无</span>
                </div>
              </td>
              <td nz-td>
                <nz-popover [(nzVisible)]="popVisible[itemIndex(i)]" [nzTrigger]="'click'" [nzTitle]="'选择车次'">
                  <button *ngIf="!item.car" nz-popover style="color:lightgray;" nz-button [nzType]="'dashed'" [nzSize]="'small'" [nzShape]="'circle'">
                    <i class="anticon anticon-car"></i>
                  </button>
                  <button *ngIf="item.car" nz-popover style="color:lightgreen;font-weight:bold;" nz-button [nzType]="'dashed'" [nzSize]="'small'"
                    [nzShape]="'circle'">
                    <i class="anticon anticon-car"></i>
                  </button>
                  <ng-template #nzTemplate>
                    <div *ngIf="item.car">
                      <p>车次单号: {{item.car}}</p>
                      <p *ngIf="!readonly">
                        <a href="javascript:void(0);" (click)="itemSelectCar(item, itemIndex(i))">更换</a>
                        <span>车次, </span>
                        <a href="javascript:void(0);" (click)="itemDeleteCar(item, itemIndex(i))">移除</a>
                      </p>
                    </div>
                    <div *ngIf="!item.car">
                      <p>
                        <span>不属于任何车次</span>
                        <span *ngIf="!readonly">,</span>
                        <a *ngIf="!readonly" href="javascript:void(0);" (click)="itemSelectCar(item, itemIndex(i))">选择一个</a>
                      </p>
                    </div>
                  </ng-template>
                </nz-popover>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div style="padding-top:3px;" nz-col [nzMd]="8" [nzXs]="24" [nzSm]="24">
        <app-pay-pattern [data]="bill" (calc)="doCalc($event)"></app-pay-pattern>
      </div>
    </div>
  </div>
  <div nz-row [ngStyle]="{'padding-top' : bill.totalCount === 0 ? '5px' : '0px'}">
    <div nz-col [nzSpan]="24">
      <button *ngIf="!isFinished()" nz-button [nzType]="'primary'" (click)="doFinish()">
        <span>完成结算</span>
      </button>
      <button nz-button [nzType]="'danger'" (click)="doNew()">
        <i class="anticon anticon-edit"></i>
        <span style="margin:0px;">打回编辑</span>
      </button>
      <button nz-button [nzType]="'default'" (click)="doPrint()">
        <i class="anticon anticon-printer"></i>
        <span style="margin:0px;">打印结果</span>
      </button>

      <button nz-button [nzType]="'dashed'" (click)="goBack()">
        <i class="anticon anticon-rollback"></i>
        <span style="margin:0px;">返回列表</span>
      </button>
    </div>
  </div>
</div>