i.click-icon {
  cursor: pointer;
}

i.click-icon:hover {
  transform: scale(1.2);
}

i.click-icon:active {
  font-weight: bold;
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 1026px) {
  .sm-hidden {
    display: none;
  }
}
