/* You can add global styles to this file, and also import other style files */

.nz-content {
  padding: 10px 15px;
}
.print-container {
  box-shadow: 0px 0px 20px wheat;
  transition:All 0.4s ease-in-out;
  cursor: pointer;
}
.print-container:hover {
  transform:scale(1.01);
}
.printable {
  color: black;
}
@media print {
  @page {
    size: 234mm 91mm;
  }
  /* body * {
    visibility: hidden;
  }
  #to-print,
  #to-print * {
    visibility: visible;
  }
  #to-print {
    position: absolute;
    left: 0;
    top: 0;
  } */
  .nz-content {
    padding: 0px 0px;
  }
  .non-printable {
    display: none;
  }
  .printable {
    color: black;
    display: block;
  }
  .print-container {
    box-shadow: 0px 0px;
  }
}
